[Unit]
Description=Nvidia binary driver init script
After=nvfb.service

[Install]
WantedBy=multi-user.target

[Service]
Type=forking
Restart=no
TimeoutSec=5min
IgnoreSIGPIPE=no
KillMode=process
GuessMainPID=no
RemainAfterExit=yes
ExecStart=/usr/bin/nv start
ExecStop=/usr/bin/nv stop

